@model IEnumerable<DisneyCafe.Models.Database.Desserts>

@{
    ViewData["Title"] = "Catalog";
}
<style>
    th, td {
        padding:0.75em;
    }
</style>
<h3 class="text-center">Viewing our desserts</h3>

<table class="table-dark">
    <thead class="table-bordered">
        <tr>
            @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
            {
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Purchase" asp-route-id="@item.Id" class="btn">Add To Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
